.header-container {
  background: url("../../assets/images/Glossary_web_banner.jpg");
  background-size: cover;
}

.header-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: white;
  font-family: Spectral;
}

.header-title {
  font-size: 4.25rem;
}
